:root {
	--primary: #2f833b;
	--dark: #1F2937;
	--gray: #CCCCCC;
	--light: #F3F4F6;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Fira sans', sans-serif;
}

body {
	background-color: var(--primary);
	color: var(--light);
}

.heading1{
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.watch {
	text-align: center;
    background-image: url(./img/erp2.png);
	background-size: cover;
	width: 100%;
	max-width: 85%;
	margin: 2rem auto;
	padding: 1rem 2rem;
	border-radius: 1rem;
}

.watch .time {
	font-size: 4.7rem;
	font-weight: 300;
	margin-bottom: 1rem;
    color: var(--primary);
}

.controls {
	display: flex;
	align-items: center;
	justify-content: center;
}

.controls button {
	appearance: none;
	background: none;
	outline: none;
	border: none;
	cursor: pointer;

	margin: 0 0.5rem;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;

	color: var(--light);
	background-color: var(--primary);

	transition: 0.4s;
	user-select: none;
}

.controls button:hover {
	opacity: 0.7;
}

.controls button:active {
	background-color: var(--dark);
}

.cat{
	display: flex;
    justify-content: center;
}

.cat img{
	max-width: 40%;
	border-radius: 31%;
}